/***
Utilities
***/
/* Rounded Element */
.rounded-2 {
  border-radius: 2px !important; }

.rounded-3 {
  border-radius: 3px !important; }

.rounded-4 {
  border-radius: 4px !important; }

/* Circle Element */
.circle {
  border-radius: 25px !important; }

.circle-right {
  border-radius: 0 25px 25px 0 !important; }

.circle-left {
  border-radius: 25px 0 0 25px !important; }

.circle-bottom {
  border-radius: 0 0 25px 25px !important; }

.circle-top {
  border-radius: 25px 25px 0 0 !important; }

.rounded {
  border-radius: 50% !important; }

/* General utilities */
.display-none,
.display-hide {
  display: none; }

.hidden {
  display: none !important; }

.bold {
  font-weight: 700 !important; }
  .bold.btn {
    letter-spacing: 0; }

.sbold {
  font-weight: 600 !important; }
  .sbold.btn {
    letter-spacing: 0; }

.uppercase {
  text-transform: uppercase !important; }

.fix-margin {
  margin-left: 0px !important; }

.border {
  border: 1px solid red; }

.font-hg {
  font-size: 23px; }

.font-lg {
  font-size: 18px; }

.font-md {
  font-size: 14px; }

.font-sm {
  font-size: 13px; }

.font-xs {
  font-size: 11px; }

.inline {
  display: inline; }

.inline-block {
  display: inline-block; }

.text-align-reverse {
  text-align: right; }

/* Margin and padding utilities */
.no-space {
  margin: 0px !important;
  padding: 0px !important; }

.no-margin {
  margin: 0; }

.margin-bottom-5 {
  margin-bottom: 5px; }

.margin-bottom-10 {
  margin-bottom: 10px !important; }

.margin-top-10 {
  margin-top: 10px !important; }

.margin-top-15 {
  margin-top: 15px !important; }

.margin-bottom-15 {
  margin-bottom: 15px !important; }

.margin-bottom-20 {
  margin-bottom: 20px !important; }

.margin-top-20 {
  margin-top: 20px !important; }

.margin-top-30 {
  margin-top: 30px !important; }

.margin-top-40 {
  margin-top: 40px !important; }

.margin-bottom-25 {
  margin-bottom: 25px !important; }

.margin-bottom-30 {
  margin-bottom: 30px !important; }

.margin-bottom-40 {
  margin-bottom: 40px !important; }

.margin-right-10 {
  margin-right: 10px !important; }

/* IE8 & IE9 mode utilities */
.visible-ie8 {
  display: none; }

.ie8 .visible-ie8 {
  display: inherit !important; }

.visible-ie9 {
  display: none; }

.ie9 .visible-ie9 {
  display: inherit !important; }

.hidden-ie8 {
  display: inherit; }

.ie8 .hidden-ie8 {
  display: none !important; }

.hidden-ie9 {
  display: inherit; }

.ie9 .hidden-ie9 {
  display: none !important; }

/***
Responsive Utils
***/
@media (max-width: 1024px) {
  .hidden-1024 {
    display: none; } }
@media (max-width: 480px) {
  .hidden-480 {
    display: none; } }
@media (max-width: 320px) {
  .hidden-320 {
    display: none; } }
/***
Demo Utils
***/
.scrollspy-example {
  position: relative;
  height: 200px;
  margin-top: 10px;
  overflow: auto; }

.util-btn-margin-bottom-5 .btn {
  margin-bottom: 5px !important; }

.util-btn-group-margin-bottom-5 .btn-group {
  margin-bottom: 5px !important; }

.padding-tb-10 {
  padding: 10px 0; }

.padding-tb-15 {
  padding: 10px 0; }

.padding-tb-20 {
  padding: 20px 0; }

/***
Users
***/
.user-info {
  margin-bottom: 10px !important; }
  .user-info img {
    float: left;
    margin-right: 5px; }
  .user-info .details {
    display: inline-block; }
  .user-info .label {
    font-weight: 300;
    font-size: 11px; }

/***
Custom vertical inline menu
***/
.ver-inline-menu {
  padding: 0;
  margin: 0;
  list-style: none; }
  .ver-inline-menu li {
    position: relative;
    margin-bottom: 1px; }
    .ver-inline-menu li i {
      width: 37px;
      height: 37px;
      display: inline-block;
      color: #b9cbd5;
      font-size: 15px;
      padding: 12px 10px 10px 8px;
      margin: 0 8px 0 0;
      text-align: center;
      background: #e0eaf0 !important; }
    .ver-inline-menu li a {
      font-size: 14px;
      font-weight: 300;
      color: #557386;
      display: block;
      background: #f0f6fa;
      border-left: solid 2px #c4d5df; }
    .ver-inline-menu li:hover a {
      background: #e0eaf0;
      text-decoration: none; }
    .ver-inline-menu li:hover i {
      color: #fff;
      background: #c4d5df !important; }
    .ver-inline-menu li.active a {
      border-left: solid 2px #0c91e5; }
    .ver-inline-menu li.active i {
      background: #0c91e5 !important; }
    .ver-inline-menu li.active a, .ver-inline-menu li.active i {
      color: #fff;
      background: #169ef4;
      text-decoration: none; }
    .ver-inline-menu li.active a, .ver-inline-menu li:hover a {
      font-size: 14px; }
    .ver-inline-menu li.active:after {
      content: '';
      display: inline-block;
      border-bottom: 6px solid transparent;
      border-top: 6px solid transparent;
      border-left: 6px solid #169ef4;
      position: absolute;
      top: 12px;
      right: -5px; }

/***
Number & Chart Stats
***/
.number-stats {
  margin: 10px 0; }
  .number-stats .stat-number {
    display: inline-block;
    margin: 0 5px; }
    .number-stats .stat-number .title {
      font-size: 13px;
      margin-bottom: 3px;
      color: #B8C3C7; }
    .number-stats .stat-number .number {
      font-size: 27px;
      line-height: 27px;
      color: #7D8C9D; }
  .number-stats .stat-chart {
    display: inline-block;
    margin: 0 5px; }
  .number-stats > div {
    border-right: 1px solid #f5f5f5; }
    .number-stats > div:last-child {
      border-right: 0; }
  .number-stats .stat-left {
    float: right; }
    .number-stats .stat-left .stat-number {
      float: right;
      text-align: right; }
    .number-stats .stat-left .stat-chart {
      float: right; }
  .number-stats .stat-right {
    float: left !important; }
    .number-stats .stat-right .stat-number {
      float: left;
      text-align: left; }
    .number-stats .stat-right .stat-chart {
      float: left; }
  .number-stats .stat-number {
    float: left;
    text-align: left; }
  .number-stats .stat-chart {
    float: left; }

/*# sourceMappingURL=style.css.map */
