/*****************/
/* Custom Styles */
/*****************/

/* FAQ Page */
.faq-ul {
    margin-left: -40px;
}

.faq-ul li {
    margin-top: 90px;
    list-style: none;
}

.faq-ul li:first-child {
    margin-top: 50px;
}

.faq-ul li > p.question {
    font-size: 23px;
    /*color: #4A89EB;*/
}

/* About Page */
#about-content-container p {
    text-indent: 70px;
    line-height: 2.5;
}

.thin {
    line-height: 1.8;
    font-weight: 300;
    font-size: 22px;
    text-align: justify;
}

.thin:last-child {
    margin-bottom: 120px;
}

.medium {
    font-weight: 400;
}

@media (max-width: 576px) {
    #about-content-container p {
        line-height: 1.8;
        text-indent: 0;
    }
}

.services-ul {
    margin-left: -40px;
}

.services-ul li {
    margin-top: 0 !important;
    list-style: none;
}

.services-ul li:first-child {
    margin-top: 50px;
}

.contact-icon {
    margin-top: 12px;
    margin-right: 10px;
    font-size : 30px;
}
