
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// alertify
:global {
  @import "~alertifyjs/build/css/alertify.min.css";
}

.table-companions {
	.btn-icon-only {
	    height: 27px;
	    width: 27px;
	    padding: 2px 2px 2px;
	}
}

.modal.fade.in {
    top: 20% !important;
}
