<template>
  <form role="form" method="post" data-vv-scope="new-transaction">
    <template v-if="step == 1">
      <div class="portlet light bordered col-md-4 col-md-offset-3">
        <div class="portlet-body form">
          <div class="form-body">
            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.prestige_card') }">
              <label for="prestige_card">Prestige Card Number</label>
              <div class="input-group">
                <input type="text" class="form-control" id="prestige_card" name="prestige_card"
                  v-mask="'####-####-####'" v-validate="{ required: true, regex: /^\d{4}-\d{4}-\d{4}$/ }" data-vv-as="Prestige Card Number"
                  v-model="prestige_card" placeholder="XXXX-XXXX-XXXX" autofocus>
                <span class="input-group-addon">
                  <i class="fa fa-credit-card font-blue"></i>
                </span>
              </div>
              <span v-show="ferrors.has('new-transaction.prestige_card')" class="help-block">
                {{ ferrors.first('new-transaction.prestige_card') }}
              </span>
            </div>
            <br>
            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.transaction_type') }">
              <label for="transaction_type">Transaction Type</label>
              <select name="transaction_type" id="" class="form-control" v-validate="'required'" data-vv-as="Transaction Type" v-model="transaction_type">
                <option disabled value="">Please select Transaction Type</option>
                <option :value="trans_type.legend+'|'+trans_type.name" v-text="trans_type.name" v-for="trans_type in transaction_types"></option>
              </select>
              <span v-show="ferrors.has('new-transaction.transaction_type')" class="help-block">
                {{ ferrors.first('new-transaction.transaction_type') }}
              </span>
            </div>

            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.date_from') }">
              <label class="mt-checkbox">
                  <input type="checkbox" v-model="multiple_days"> Multiple Days
                  <span></span>
              </label>
              <br>
              <label for="date_from">Date From</label>
              <div class="input-group">
                  <input id="date_from" class="form-control form-control-inline date-picker" name="date_from"
                    v-validate="{ required: true, date_format:'MMMM D, YYYY' }" data-vv-as="Date From"
                    data-model="date_from" v-model="date_from" size="16" type="text" value="" />
                  <span class="input-group-addon">
                      <i class="fa fa-calendar font-blue"></i>
                  </span>
              </div>
              <span v-show="ferrors.has('new-transaction.date_from')" class="help-block">
                {{ ferrors.first('new-transaction.date_from') }}
              </span>
            </div>

            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.date_to') }">
              <label for="date_to">Date To</label>
              <div class="input-group">
                <input class="form-control form-control-inline date-picker" id="date_to" name="date_to"
                  v-validate="{ rules: { required: this.isDateToRequired, after:date_from, date_format: 'MMMM D, YYYY' }}" data-model="date_to"
                  v-model="date_to" :disabled="! multiple_days" size="16" type="text" value=""
                  data-vv-as="Date To"/>
                <span class="input-group-addon">
                    <i class="fa fa-calendar font-blue"></i>
                </span>
              </div>
              <span v-show="ferrors.has('new-transaction.date_to')" class="help-block">
                {{ ferrors.first('new-transaction.date_to') }}
              </span>
            </div>

            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.destination') }">
                <label for="destination">Destination</label>
                <div class="input-group">
                    <input type="text" id="destination" name="destination" class="form-control"
                      v-model="destination" v-validate="'required'" data-vv-as="Destination">
                    <span class="input-group-addon">
                        <i class="fa fa-road font-blue"></i>
                    </span>
                </div>
              <span v-show="ferrors.has('new-transaction.destination')" class="help-block">
                {{ ferrors.first('new-transaction.destination') }}
              </span>
            </div>

            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.airline') }">
                <label for="airline">Airline</label>
                <div class="input-group">
                    <input type="text" :disabled="! isAirlineNeeded" id="airline" class="form-control" name="airline"
                      v-model="airline" v-validate="{ rules: { required: this.isAirlineNeeded, alpha_spaces: true, min: 2 } }" data-vv-as="Airline">
                    <span class="input-group-addon">
                        <i class="fa fa-plane font-blue"></i>
                    </span>
                </div>
                <span v-show="ferrors.has('new-transaction.airline')" class="help-block">
                  {{ ferrors.first('new-transaction.airline') }}
                </span>
            </div>

            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.hotel') }">
                <label for="hotel">Hotel</label>
                <div class="input-group">
                    <input type="text" :disabled="! isHotelNeeded" id="hotel" class="form-control" name="hotel"
                      v-model="hotel" v-validate="{ rules: { required: this.isHotelRequired } }" data-vv-as="Hotel">
                    <span class="input-group-addon">
                        <i class="fa fa-hotel font-blue"></i>
                    </span>
                </div>
                <span v-show="ferrors.has('new-transaction.hotel')" class="help-block">
                  {{ ferrors.first('new-transaction.hotel') }}
                </span>
            </div>

            <div class="form-group" :class="{'has-error': ferrors.has('new-transaction.price') }">
                <label for="price">Price</label>
                <div class="input-group">
                    <input type="text" id="price" class="form-control" name="price" v-money="money"
                      v-model="price" v-validate="'required|min_value:1.00'" data-vv-as="Price">
                    <span class="input-group-addon">
                        <i class="fa fa-money font-blue"></i>
                    </span>
                </div>
                <span v-show="ferrors.has('new-transaction.price')" class="help-block">
                  {{ ferrors.first('new-transaction.price') }}
                </span>
            </div>
          </div>
          <div class="form-actions text-center">
            <button type="button" class="btn default" @click.prevent="returnToList">Back</button>
            <button type="button" class="btn blue" @click.prevent="checkCard">Next</button>
          </div>
        </div>
      </div>
    </template>

    <template v-if="step == 2">
      <div class="portlet light bordered col-md-10 col-md-offset-1">
        <div class="portlet-title">
          <div class="caption">
              <i class="icon-social-dribbble font-green"></i>
              <span class="caption-subject font-green bold uppercase">Companions</span>
          </div>
          <div class="actions">
              <a @click.prevent="addCompanion" class="btn btn-circle btn-icon-only btn-default">
                  <i class="fa fa-plus"></i>
              </a>
          </div>
        </div>
        <div class="portlet-body form">
          <table class="table table-bordered table-striped table-condensed flip-content table-companions">
            <thead>
              <tr>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Last Name</th>
                  <th>Age</th>
                  <th>Contact Number</th>
                  <th>Email</th>
                  <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="companion, index in companions">
                <td :class="{'has-error': ferrors.has('new-transaction.companion_first_name') }">
                  <input type="text" name="companion_first_name" class="form-control" data-vv-as="First Name" v-validate="'required'" v-model="companion.first_name">
                  <span v-show="ferrors.has('new-transaction.companion_first_name')" class="help-block">
                    {{ ferrors.first('new-transaction.companion_first_name') }}
                  </span>
                </td>
                <td :class="{'has-error': ferrors.has('new-transaction.companion_middle_name') }">
                  <input type="text" name="companion_middle_name" class="form-control" data-vv-as="Middle Name" v-validate="'required'" v-model="companion.middle_name">
                  <span v-show="ferrors.has('new-transaction.companion_middle_name')" class="help-block">
                    {{ ferrors.first('new-transaction.companion_middle_name') }}
                  </span>
                </td>
                <td :class="{'has-error': ferrors.has('new-transaction.companion_last_name') }">
                  <input type="text" name="companion_last_name" class="form-control" data-vv-as="Last Name" v-validate="'required'" v-model="companion.last_name">
                  <span v-show="ferrors.has('new-transaction.companion_last_name')" class="help-block">
                    {{ ferrors.first('new-transaction.companion_last_name') }}
                  </span>
                </td>
                <td :class="{'has-error': ferrors.has('new-transaction.companion_age') }">
                  <input type="number" name="companion_age" class="form-control" :class="{'has-error': ferrors.has('new-transaction.companion_age') }"
                    data-vv-as="Age" v-validate="'min_value:1'" v-model="companion.age">

                  <span v-show="ferrors.has('new-transaction.companion_age')" class="help-block">
                    {{ ferrors.first('new-transaction.companion_age') }}
                  </span>
                </td>
                <td :class="{'has-error': ferrors.has('new-transaction.companion_contact_no') }">
                  <input type="text" name="companion_contact_no" class="form-control"
                    v-validate="{ required: true, regex: /^(09|\+639)\d{9}$/ }" data-vv-as="Contact Number" v-model="companion.contact_no">
                  <span v-show="ferrors.has('new-transaction.companion_contact_no')" class="help-block">
                    {{ ferrors.first('new-transaction.companion_contact_no') }}
                  </span>
                </td>
                <td>
                  <input type="text" class="form-control" v-model="companion.email">
                </td>
                <td>
                  <a @click.prevent="removeCompanion(index)" class="btn btn-circle btn-icon-only btn-danger">
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="form-actions text-center">
            <button type="button" class="btn default" @click.prevent="back">Back</button>
            <button type="button" class="btn blue" @click.prevent="checkCompanion">Next</button>
          </div>
        </div>
      </div>
    </template>

    <template  v-if="step == 3">
      <div class="portlet light col-md-8 col-md-offset-2">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-paper-plane font-green-haze"></i>
                <span class="caption-subject bold font-green-haze uppercase"> Transaction Details </span>
            </div>
        </div>
        <div class="portlet-body row">
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><span>Prestige Card : {{ prestige_card }}</span></li>
              <li><span>Transaction Type : {{ transaction_type.split("|")[1] }}</span></li>
              <li><span>Price : {{ price }}</span></li>
            </ul>
          </div>
          <div class="col-md-4">

          </div>
          <div class="col-md-4">
            <ul class="list-unstyled">
              <li><span>Date From : {{ date_from }}</span></li>
              <li v-if="multiple_days"><span>Date To : {{ date_to }}</span></li>
              <li><span>Destination : {{ destination }}</span></li>
              <li v-if="isHotelNeeded"><span>Hotel : {{ hotel }}</span></li>
              <li v-if="isAirlineNeeded"><span>Airline : {{ airline }}</span></li>
            </ul>
          </div>
          <div class="col-md-12">
            <h4> Companions : </h4>
              <table class="table table-bordered table-striped table-condensed flip-content table-companions">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                  <tr v-for="companion,index in companions">
                    <td>
                      <input type="text" readonly class="form-control" v-model="companion.first_name">
                    </td>
                    <td>
                      <input type="text" readonly class="form-control" v-model="companion.middle_name">
                    </td>
                    <td>
                      <input type="text" readonly class="form-control" v-model="companion.last_name">
                    </td>
                    <td>
                      <input type="text" readonly class="form-control" v-model="companion.age">
                    </td>
                    <td>
                      <input type="text" readonly class="form-control" v-model="companion.contact_no">
                    </td>
                    <td>
                      <input type="text" readonly class="form-control" v-model="companion.email">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="form-actions text-center">
                <button type="button" class="btn default" @click.prevent="back">Back</button>
                <button type="button" class="btn blue" @click.prevent="submit">Submit</button>
              </div>
          </div>
        </div>
      </div>
    </template>
  </form>
</template>

<script>
  import { VMoney } from 'v-money'
  import 'vuejs-noty/dist/vuejs-noty.css'

  export default {
    name: "addTransaction",
    props: [
      "transaction_types"
    ],
    mounted() {
      var self = this;
      $(document).on('focus','.date-picker',function(){
          $(this).datepicker({
            orientation: "left",
            autoclose: true,
            format : "MM d, yyyy"
          }).on('changeDate', function () {
            self.updateDate($(this).data('model'), $(this).val());
          });
      });
    },
    data() {
      return {
        step: 1,
        prestige_card: "",
        transaction_type: "",
        multiple_days: false,
        date_from: "",
        date_to: "",
        destination: "",
        airline: "",
        hotel: "",
        price: "",
        money: {
          decimal: '.',
          thousands: '',
          prefix: '',
          suffix: '',
          precision: 2,
          masked: false /* doesn't work with directive */
        },
        directives: {
          money: VMoney
        },
        companions: []
      }
    },
    computed :{
      isAirlineNeeded () {
        let type_legend = this.transaction_type.split("|")[0];
        return ! (type_legend == 'H' || type_legend == 'V');
      },
      isHotelNeeded () {
        let type_legend = this.transaction_type.split("|")[0];
        return ! (type_legend == 'V' || type_legend == 'A');
      },
      isDateToRequired () {
        return this.multiple_days == true
      },
      isAirlineRequired () {
        let type_legend = this.transaction_type.split("|")[0];
        return type_legend == 'A'
      },
      isHotelRequired () {
        let type_legend = this.transaction_type.split("|")[0];
        return type_legend == 'H' || type_legend == 'D'
          || type_legend == 'I' || type_legend == 'IC'
          || type_legend == 'DC' || type_legend == ''
      }
    },
    methods: {
      updateDate(model, value) {
        Vue.set(this, model, value);
      },
      checkCard() {
        let self = this;

        this.fetch('/validate-prestige-card', {
          prestige_card_no: this.prestige_card,
          prestige_status: 1
        }).then(function (response) {
          if (response.data.SUCCESS) {
            let result = response.data.DATA;
            self.companions = [];
            self.companions.push({
              first_name: result.user_info['first_name'],
              middle_name: result.user_info['middle_name'],
              last_name: result.user_info['last_name'],
              age: result.user_info['age'],
              contact_no: result.user_info['contact_no'],
              email: result.user_info['email'],
            });

            self.proceed('new-transaction');

          } else {
            self.$noty.error(response.data.MESSAGE, {
              theme: 'mint',
              killer: true,
              timeout: 3000,
              layout: 'topRight'
            })
          }
        }).catch(function (error) {
          console.log(error.message);
        });
      },
      checkCompanion () {
        this.proceed('new-transaction')
      },
      addCompanion () {
        this.companions.push({
          first_name: "",
          middle_name: "",
          last_name: "",
          age: "",
          contact_no: "",
          email: "",
        });
      },

      removeCompanion(key) {
        this.companions.splice(key, 1);
      },

      proceed(scope) {
        this.$validator.validateAll(scope).then((result) => {
          if (result) {
            this.next()
          }
        });
      },

      next() {
        Vue.set(this,'step', parseInt(this.step) + 1);
      },

      back() {
        Vue.set(this, 'step', parseInt(this.step) - 1);
      },

      submit() {
        let self = this;
        this.fetch('/transaction/new', {

          prestige_card: self.prestige_card,
          transaction_type: self.transaction_type,
          multiple_days: self.multiple_days,
          date_from: self.date_from,
          date_to: self.date_to,
          destination: self.destination,
          airline: self.airline,
          hotel: self.hotel,
          price: self.price,
          companions: self.companions

        }).then(function (response) {
          console.log(response.data);
          if (response.data.SUCCESS) {
            self.$noty.success(response.data.MESSAGE, {
              theme: 'mint',
              killer: true,
              timeout: 3000,
              layout: 'topRight'
            });
            setTimeout(function(){
              window.location = base_url+'/transaction/list/all'
            }, 1000)
          } else {
            self.$noty.error(response.data.MESSAGE, {
              theme: 'mint',
              killer: true,
              timeout: 3000,
              layout: 'topRight'
            })
          }
        }).catch(function (error) {
          console.log(error.message);
        });
      },

      fetch(actionUrl, params) {
        return axios.post(base_url+actionUrl, params, { headers: {
          "Cache-Control": "no-cache, no-store, must-revalidate",
          "Pragma": "no-cache",
          "Expires": "0",
          "dataType": "json"
        }});
      },

    },

    watch: {
      // clear the value of date_to field when multiple_days is checked
      multiple_days (newValue) {
        if (! newValue) {
          this.date_to = ''
        }
      },

      transaction_type (newValue) {
        if (newValue == 'V') {
          this.hotel = ''
          this.airline = ''
        }
      },
      step : {
        handler : function(val) {
          this.$emit("add_step",val);
        },
      }
    }
  }
</script>
