<template>
  <form action="index.html" method="post">
    <div class="alert alert-danger" v-if="show_alert">
      <ul>
        <template v-for="error in errors">
          <li v-for="value in error">
            <span v-text="value"></span>
          </li>
        </template>
      </ul>
    </div>
    <p> Enter your account details below: </p>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Username</label>
      <div class="input-icon">
        <i class="fa fa-user"></i>
        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" v-model="registration_details.email"/> </div>
      </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <div class="input-icon">
        <i class="fa fa-lock"></i>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" v-model="registration_details.password"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
      <div class="controls">
        <div class="input-icon">
          <i class="fa fa-check"></i>
          <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" v-model="registration_details.password_confirmation"/>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="mt-checkbox mt-checkbox-outline">
        <input type="checkbox" name="tnc" /> I agree to the
        <a href="javascript:;">Terms of Service </a> &
        <a href="javascript:;">Privacy Policy </a>
        <span></span>
      </label>
      <div id="register_tnc_error"> </div>
    </div>
    <div class="form-actions">
      <button :disabled="on_process" type="button" class="btn red btn-outline" @click.prevent="go_back()"> Back </button>
      <button type="submit" style="width: 100px" :disabled="on_process" class="btn green pull-right" @click.prevent="signup">
        <span v-if="! on_process">SIGN UP</span>
        <i v-else class="fa fa-spinner fa-pulse fa-fw"></i>
      </button>
    </div>
  </form>
</template>
<script>
  export default {
    name : "AccountDetails",
    props : [
      'registration_details',
      'on_process',
      'show_alert',
      'is_success',
      'message',
      'errors'
    ],
    methods: {
      signup() {
        this.$emit('signup', {})
      },
      go_back() {
        this.$emit('go_back', 2);
      }
    },
  }
</script>
