<template>
  <div>
   <h3>Thank you for signing up!</h3>
   <p v-text="message"></p>
 </div>
</template>
<script>
  export default {
    name: "NoteSuccess",
    props: [
      'message'
    ]
  }
</script>
