<template>
  <form @submit.prevent="proceed('personal-info')" method="post" data-vv-scope="personal-info">
    <h3>Sign Up</h3>
    <p> Enter your personal details below: </p>
    <div class="form-group" :class="{'has-error': ferrors.has('personal-info.last_name') }">
      <label class="control-label visible-ie8 visible-ie9">Last Name</label>
      <div class="input-icon">
        <i class="fa fa-font"></i>
        <input v-validate="'required'" data-vv-as="Last Name" class="form-control placeholder-no-fix" v-model="registration_details.last_name" type="text" placeholder="Last Name" name="last_name" />
      </div>
      <span v-show="ferrors.has('personal-info.last_name')" class="help-block">
        {{ ferrors.first('personal-info.last_name') }}
      </span>
    </div>
    <div class="form-group" :class="{'has-error': ferrors.has('personal-info.first_name') }">
      <label class="control-label visible-ie8 visible-ie9">First Name</label>
      <div class="input-icon">
        <i class="fa fa-font"></i>
        <input v-validate="'required'" data-vv-as="First Name" class="form-control placeholder-no-fix" v-model="registration_details.first_name" type="text" placeholder="First Name" name="first_name" />
        <span v-show="ferrors.has('personal-info.first_name')"class="help-block">{{ ferrors.first('personal-info.first_name') }}</span>
      </div>
    </div>
    <div class="form-group" :class="{'has-error': ferrors.has('personal-info.middle_name') }">
      <label class="control-label visible-ie8 visible-ie9">Middle Name</label>
      <div class="input-icon">
        <i class="fa fa-font"></i>
        <input v-validate="'required'" data-vv-as="Middle Name" class="form-control placeholder-no-fix" type="text" v-model="registration_details.middle_name" placeholder="Middle Name" name="middle_name" />
        <span v-show="ferrors.has('personal-info.middle_name')"class="help-block">{{ ferrors.first('personal-info.middle_name') }}</span>
      </div>
    </div>
    <div class="form-group" :class="{ 'has-error': ferrors.has('personal-info.birthdate') }">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Birthdate</label>
        <div class="input-icon">
          <i class="fa fa-calendar"></i>
          <input v-validate="'required|date_format:YYYY-MM-DD'" data-vv-as="Birthdate" class="form-control placeholder-no-fix datepicker" type="text" v-model="registration_details.birthdate" placeholder="Birthdate" id="birthdate" name="birthdate"/>
          <span v-show="ferrors.has('personal-info.birthdate')"class="help-block">{{ ferrors.first('personal-info.birthdate') }}</span>
        </div>
    </div>
    <div class="form-group" :class="{ 'has-error': ferrors.has('personal-info.address') }">
        <label class="control-label visible-ie8 visible-ie9">Address</label>
        <div class="input-icon">
          <i class="fa fa-check"></i>
          <input v-validate="'required'" data-vv-as="Address" class="form-control placeholder-no-fix" v-model="registration_details.address" type="text" placeholder="Address" name="address" />
          <span v-show="ferrors.has('personal-info.address')"class="help-block">{{ ferrors.first('personal-info.address') }}</span>
        </div>
    </div>
    <div class="form-group" :class="{'has-error': ferrors.has('personal-info.occupation') }">
      <label class="control-label visible-ie8 visible-ie9">Occupation</label>
      <div class="input-icon">
        <i class="fa fa-black-tie"></i>
        <input v-validate="'required'" data-vv-as="Occupation" class="form-control placeholder-no-fix" v-model="registration_details.occupation" type="text" placeholder="Occupation" name="occupation" />
        <span v-show="ferrors.has('personal-info.occupation')"class="help-block">{{ ferrors.first('personal-info.occupation') }}</span>
      </div>
    </div>
    <div class="form-group" :class="{'has-error': ferrors.has('personal-info.interest') }">
      <label class="control-label visible-ie8 visible-ie9">Interest</label>
      <div class="input-icon">
        <i class="fa fa-heart "></i>
        <input v-validate="'required'" data-vv-as="Interest" class="form-control placeholder-no-fix" type="text" v-model="registration_details.interest" placeholder="Interest" name="interest" />
        <span v-show="ferrors.has('personal-info.interest')"class="help-block">{{ ferrors.first('personal-info.interest') }}</span>
      </div>
    </div>
    <div class="form-group" :class="{'has-error': ferrors.has('personal-info.contact_no') }">
      <label class="control-label visible-ie8 visible-ie9">Contacts</label>
      <div class="input-icon">
        <i class="fa fa-mobile-phone "></i>
        <input v-validate="{ required: true, regex: /^(09|\+639)\d{9}$/ }" data-vv-as="Contact Number" class="form-control placeholder-no-fix" v-model="registration_details.contact_no" type="text" placeholder="Contact No." name="contact_no" />
        <span v-show="ferrors.has('personal-info.contact_no')"class="help-block">{{ ferrors.first('personal-info.contact_no') }}</span>
      </div>
    </div>

    <div class="form-actions">
      <button type="button" class="btn red btn-outline" @click.prevent="go_back()"> Back </button>
      <button type="submit" class="btn green pull-right"> Continue </button>
    </div>
  </form>
</template>

<script>
  export default {
    name: "PersonalInfo",
    props: [
      "registration_details",
    ],
    mounted() {
      // $('#birthdate').datepicker();
      let self = this;
      $(document).on('focus','.datepicker',function() {
        $("#birthdate").datepicker({
          format : "yyyy-mm-dd"
        }).on('changeDate',function() {
          Vue.set(self.registration_details, "birthdate", $('#birthdate').val());
        });
      });
    },
    methods : {
      showError(message) {
        Vue.set(this,'has_error',true);
        Vue.set(this,'error_message',message);
      },
      proceed(scope) {
          this.$validator.validateAll(scope).then((result) => {
            if (result) {
              this.$emit('proceed', { next_step : 3 });
            }
          });
      },
      go_back() {
        this.$emit('go_back', 1);
      },
    }
  }
</script>
