<template>
  <form action="registration.html" method="post">
    <p> Enter your prestige number below: </p>
    <div class="form-group" v-bind:class="{ 'has-error' : has_error }">
      <label class="control-label visible-ie8 visible-ie9">Prestige Number</label>
      <div class="alert alert-danger" v-show="has_error">
        <span v-text="error_message"></span>
      </div>
      <div class="input-icon">
        <i class= "fa fa-credit-card"></i>
        <input class="form-control placeholder-no-fix" type="text" placeholder="XXX-XXX-0000" v-model="prestige_card_no" />
      </div>
    </div>

    <div class="form-actions">
      <a v-bind:href="login_link" type="button" class="btn red btn-outline"> Go to Login </a>
      <button :disabled="on_process" style="width: 100px" id="register-submit-btn" class="btn green pull-right" @click.prevent="validateCardNo">
        <span v-if="! on_process">CONTINUE</span>
        <i v-else class="fa fa-spinner fa-pulse fa-fw"></i>
      </button>
    </div>
  </form>
</template>
<script>
  export default {
    name: "PrestigeCard",
    data() {
      return {
        prestige_card_no : "",

        // FOR ERROR HANDLING
        has_error : false,
        error_message : "",
        // END ERROR HANDLING

        on_process : false,
        login_link : "",
      }
    },
    methods: {
      validateCardNo() {
        let self = this;
        Vue.set(this, 'on_process', true);
        if (this.prestige_card_no == "") {
          this.showError("Please enter your Prestige Card Number.");
          Vue.set(this, 'on_process', false);
          return false;
        }
        axios.post('/validate-prestige-card', {
            prestige_card_no: this.prestige_card_no,
            prestige_status : 0
        })
        .then(response => {
            let response_data = response.data;
            if (response_data.SUCCESS) {
              self.$emit('proceed', {
                next_step: 2,
                prestige_card: response_data.PRESTIGE_CARD
              });
            } else {
              self.showError(response_data.MESSAGE);
            }
            Vue.set(this, 'on_process', false);
        })
        .catch(error => {
          self.showError(error.message);
          Vue.set(this, 'on_process', false);
        });
      },

      showError(message) {
        Vue.set(this,'has_error',true);
        Vue.set(this,'error_message',message);
      },
    },
    mounted() {
      Vue.set(this, 'login_link', login_link);
    }
  }
</script>
