<template>
	<div class="modal fade add-user" id="basic" tabindex="-1" role="basic" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Add User</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label>User Type</label>
                                <select class="form-control" readonly>
                                    <option value="2">
                                        Employee
                                    </option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>First Name</label>
                                <div class="input-icon">
                                    <i class="fa fa-user font-green"></i>
                                    <input type="text" class="form-control" v-model="first_name"> </div>
                            </div>
                            <div class="form-group">
                                <label>Middle Name</label>
                                <div class="input-icon">
                                    <i class="fa fa-user font-green"></i>
                                    <input type="text" class="form-control" v-model="middle_name"> </div>
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <div class="input-icon">
                                    <i class="fa fa-user font-green"></i>
                                    <input type="text" class="form-control" v-model="last_name"> </div>
                            </div>
                            <div class="form-group">
                                <label>Contact Number</label>
                                <div class="input-icon">
                                    <i class="fa fa-mobile-phone font-green"></i>
                                    <input type="text" class="form-control" v-model="contact_no"> </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <div class="input-icon">
                                    <i class="fa fa-envelope-o font-green"></i>
                                    <input type="text" class="form-control" v-model="email"> </div>
                            </div>
                        </div>
                    </form>
    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    <button type="button" class="btn green" @click.prevent="addUser">Add user</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>
<script>
    import 'vuejs-noty/dist/vuejs-noty.css'
	export default
	{ 
		name: "addUser",
		props : [],
		data() {
			return {
				first_name : "",
				middle_name : "",
				last_name : "",
				contact_no : "",
				email : "",
				user_type : 2
			}
		},
		mounted() {
		},
		methods : {
			addUser() {
                let self = this;
				this.fetch('/user/new', {
					first_name : this.first_name,
					middle_name : this.middle_name,
					last_name : this.last_name,
					contact_no : this.contact_no,
					email : this.email,
					user_type : 2
				}).then(response => {
                    let response_data;
                    if(typeof response.data == "string") {
                        response_data = JSON.parse(response.data);  
                    }else{
                        response_data = response.data;  
                        
                    }
                    if(response_data.success) {
                        self.$noty.success(response_data.message, {
                            theme: 'mint',
                            killer: true,
                            timeout: 3000,
                            layout: 'topRight'
                        });
                        $('.add-user').modal("hide");
                        setTimeout(function(){
                            location.reload();
                        }, 3000);
                    }else{
                        self.$noty.error(response_data.message, {
                            theme: 'mint',
                            killer: true,
                            timeout: 3000,
                            layout: 'topRight'
                        });
                    }
					
                    
				}).catch( error => {
					console.log(error.message);
				});
			},
			fetch(actionUrl, params) {
				return axios.post(base_url+actionUrl, params, { headers: {
					"Cache-Control": "no-cache, no-store, must-revalidate",
					"Pragma": "no-cache",
					"Expires": "0",
					"dataType": "json"
				}});
			},
		}
	}
</script>