<template>
  <div class="row">
    <div class="col-md-12">
      <!-- BEGIN PROFILE SIDEBAR -->
      <div class="profile-sidebar">
        <!-- PORTLET MAIN -->
        <div class="portlet light profile-sidebar-portlet bordered">
            <!-- SIDEBAR USERPIC -->
            <!-- <div class="profile-userpic"> -->
              <!-- <img src="images/profile/profile_user.jpg" class="img-responsive" alt=""> -->
            <!-- </div> -->
            <!-- END SIDEBAR USERPIC -->
            <!-- SIDEBAR USER TITLE -->
            <div class="profile-usertitle">
                <div class="profile-usertitle-name"> {{ fullName }}</div>
                <div class="profile-usertitle-job"> {{ user.occupation }} </div>
                <div v-if="user.card_no !== ''">
                  <i class="icon-credit-card"></i>
                  {{ user.card_no }}
                </div>
            </div>
            <!-- END SIDEBAR USER TITLE -->
            <!-- SIDEBAR MENU -->
            <div class="profile-usermenu">
           </div>
            <!-- END MENU -->
        </div>
        <!-- END PORTLET MAIN -->
      </div>
      <!-- END BEGIN PROFILE SIDEBAR -->
      <!-- BEGIN PROFILE CONTENT -->
      <div class="profile-content">
        <div class="row">
          <div class="col-md-12">
            <div class="portlet light bordered">
              <div class="portlet-title tabbable-line">
                <div class="caption caption-md">
                  <i class="icon-globe theme-font hide"></i>
                  <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>
                <ul class="nav nav-tabs">
                  <li class="active">
                    <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Personal Info</a>
                  </li>
                  <li class="">
                    <a href="#tab_1_3" data-toggle="tab" aria-expanded="false">Change Password</a>
                  </li>
                </ul>
              </div>
              <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                  <div class="tab-pane active" id="tab_1_1">
                    <form role="form" action="post" data-vv-scope="user-profile-personal-info">
                      <div class="row">
                        <div class="form-group col-md-4" :class="{'has-error': ferrors.has('user-profile-personal-info.first_name') }">
                          <label for="first_name" class="control-label">
                            <strong>First Name <span class="required">*</span></strong>
                          </label>
                          <input type="text" placeholder="First Name" name="first_name" id="first_name" class="form-control"
                            v-model="user.first_name" v-validate="{ rules: { required: true } }" data-vv-as="First Name">

                          <span v-show="ferrors.has('user-profile-personal-info.first_name')" class="help-block">
                            {{ ferrors.first('user-profile-personal-info.first_name') }}
                          </span>
                        </div>

                        <div class="form-group col-md-4" :class="{'has-error': ferrors.has('user-profile-personal-info.middle_name') }">
                          <label for="middle_name" class="control-label">
                            <strong>Middle Name <span class="required">*</span></strong>
                          </label>
                          <input type="text" placeholder="Middle Name" name="middle_name" id="middle_name" class="form-control"
                            v-model="user.middle_name" v-validate="{ rules: { required: true } }" data-vv-as="Middle Name">

                          <span v-show="ferrors.has('user-profile-personal-info.middle_name')" class="help-block">
                            {{ ferrors.first('user-profile-personal-info.middle_name') }}
                          </span>
                        </div>

                        <div class="form-group col-md-4" :class="{'has-error': ferrors.has('user-profile-personal-info.last_name') }">
                          <label for="last_name" class="control-label">
                            <strong>Last Name <span class="required">*</span></strong>
                          </label>
                          <input type="text" placeholder="Last Name" name="last_name" id="last_name" class="form-control"
                            v-model="user.last_name" v-validate="{ rules: { required: true } }" data-vv-as="Last Name">

                          <span v-show="ferrors.has('user-profile-personal-info.last_name')" class="help-block">
                            {{ ferrors.first('user-profile-personal-info.last_name') }}
                          </span>
                        </div>
                      </div>

                      <div class="row margin-top-30">
                        <div class="form-group col-md-6">
                          <label for="contact_no" class="control-label"><strong>Contact Number</strong></label>
                          <input type="text" placeholder="+639XXXXXXXXX or 09XXXXXXXXX"  id="contact_no" class="form-control"
                            v-model="user.contact_no">
                        </div>

                        <div class="form-group col-md-6">
                          <label for="occupation" class="control-label">
                            <strong>Occupation</strong>
                          </label>
                          <input type="text" placeholder="Web Developer" name="occupation" id="occupation" class="form-control"
                            v-model="user.occupation">
                        </div>
                      </div>

                      <div class="row margin-top-30">
                        <div class="form-group col-md-6" :class="{'has-error': ferrors.has('user-profile-personal-info.birthdate') }">
                          <label for="birthdate" class="control-label">
                            <strong>Birthdate <span class="required">*</span></strong>
                          </label>
                          <input type="text" placeholder="Birthdate" name="birthdate" id="birthdate" class="form-control date-picker"
                            v-model="birthdateForHumans" v-validate="{ required: true, date_format:'MMMM D, YYYY' }" data-vv-as="Birthdate">

                          <span v-show="ferrors.has('user-profile-personal-info.birthdate')" class="help-block">
                            {{ ferrors.first('user-profile-personal-info.birthdate') }}
                          </span>
                        </div>

                        <div class="form-group col-md-6">
                          <label for="interest" class="control-label">
                            <strong>Interests</strong>
                          </label>
                          <input type="text" placeholder="Design, Web etc." name="interest" id="interest" class="form-control"
                            v-model="user.interest">
                        </div>
                      </div>

                      <div class="row">
                        <div class="form-group col-md-12 margin-top-10" :class="{'has-error': ferrors.has('user-profile-personal-info.address') }">
                          <label for="address" class="control-label">
                            <strong>Address <span class="required">*</span></strong>
                          </label>
                          <input type="text" placeholder="Address" name="address" id="address" class="form-control"
                            v-model="user.address" v-validate="{ rules: { required: true } }" data-vv-as="Address">

                          <span v-show="ferrors.has('user-profile-personal-info.address')" class="help-block">
                            {{ ferrors.first('user-profile-personal-info.address') }}
                          </span>
                        </div>
                      </div>

                      <div class="margin-top-40 margin-bottom-20">
                        <button type="button" class="btn green" @click.prevent="saveChangesForUserProfileInfo">Save Changes</button>
                        <!-- <button type="button" class="btn default" @click.prevent="">Cancel</button> -->
                      </div>
                    </form>
                  </div>
                  <!-- END PERSONAL INFO TAB -->
                  <!-- CHANGE PASSWORD TAB -->
                  <div class="tab-pane" id="tab_1_3">
                    <form method="post">
                      <!-- Current Password -->
                      <div class="form-group" :class="{'has-error': ferrors.has('current_password') }">
                        <label for="current_password" class="control-label">
                          <strong>Current Password</strong>
                        </label>
                        <div class="input-group">
                          <input type="password" id="current_password" class="form-control" name="current_password"
                            v-model="password.current" v-validate="'required'" placeholder="Enter current password"
                            data-vv-as="Current Password">

                          <span class="input-group-btn">
                            <button class="btn blue" type="button"
                              @click.prevent="fetchCurrentPassword(password.current)"
                              :disabled="isCurrentPasswordFieldEmpty">
                              Check!
                            </button>
                          </span>
                        </div>

                        <span v-show="ferrors.has('current_password')" class="help-block">
                          {{ ferrors.first('current_password') }}
                        </span>
                      </div>

                      <!-- New Password -->
                      <div class="form-group margin-top-30" :class="{'has-error': ferrors.has('new_password') }">
                        <label for="new_password" class="control-label">
                          <strong>New Password</strong>
                        </label>
                          <input type="password" id="new_password" class="form-control" name="new_password"
                            v-model="password.new" v-validate="'required'" placeholder="Enter new password"
                            data-vv-as="New Password">

                        <span v-show="ferrors.has('new_password')" class="help-block">
                          {{ ferrors.first('new_password') }}
                        </span>
                      </div>

                      <!-- Retype New Password -->
                      <div class="form-group margin-top-30" :class="{'has-error': ferrors.has('retype_new_password') }">
                        <label for="retype_new_password" class="control-label">
                          <strong>Re-type New Password</strong>
                        </label>
                        <input type="password" id="retype_new_password" class="form-control" name="retype_new_password"
                          v-model="password.retype_new" v-validate="'required|confirmed:new_password'" placeholder="Retype new password"
                          data-vv-as="Password">

                        <span v-show="ferrors.has('retype_new_password')" class="help-block">
                          {{ ferrors.first('retype_new_password') }}
                        </span>
                      </div>
                      <div class="margin-top-10">
                        <button type="button" class="btn green" :disabled="isAllFieldsAreEmptyAndNewPasswordMatched" @click.prevent="validateNewPasswordBeforeSubmit">Change Password</button>
                        <button class="btn default" @click.prevent="clearInputFields">Cancel</button>
                      </div>
                    </form>
                  </div>
                  <!-- END CHANGE PASSWORD TAB -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END PROFILE CONTENT -->
    </div>
  </div>
</template>

<script>
  import axios from 'axios'
  import moment from 'moment'
  import 'vuejs-noty/dist/vuejs-noty.css'

  export default {
    name: 'user-profile',


    data () {
      return {
        user: [],
        password: {
          current: '',
          new: '',
          retype_new: ''
        }
      }
    },

    mounted () {
      var self = this;

      $(document).on('focus','.date-picker', function() {
          $(this).datepicker({
            orientation: "left",
            autoclose: true,
            format : "MM d, yyyy"
          }).on('changeDate', function () {
            self.user.birthdate = moment($(this).val()).format('YYYY-MM-DD');
          });
      });

      // Get user profile
      axios.get('/api/v1/user/profile')
        .then((response) => {
          this.user = response.data
        })
        .catch(function (error) {
          console.log(error)
        });
    },

    computed: {
      birthdateForHumans () {
        return moment(this.user.birthdate).format('MMMM D, YYYY')
      },

      fullName () {
        return `${this.user.first_name} ${this.user.last_name}`
      },

      isAllFieldsAreEmptyAndNewPasswordMatched () {
        return this.password.current == '' || this.password.new == ''
              || this.password.retype_new == ''
              && this.password.new == this.password.retype_new
      },

      isCurrentPasswordFieldEmpty () {
        return this.password.current == ''
      }
    },

    methods: {
      saveChangesForUserProfileInfo () {
        let self = this

        axios.post('/api/v1/user/profile', this.user)
          .then((response) => {
            if (response.data.success) {
              let message = response.data.message

              self.$noty.success(message, {
                theme: 'mint',
                killer: true,
                timeout: 3000,
                layout: 'topRight'
              })

              // Display update message
              console.log(message)

            } else {
                // Errors here;
            }
          }).catch(function (error) {
            console.log(error.message)
          });
      },

      validateNewPasswordBeforeSubmit () {
        this.$validator.validateAll()
          .then((response) => {
            this.saveNewPassword()
            this.clearInputFields()
          })
          .catch(function(e) {
            // Catch errors
          })
      },

      clearInputFields () {
        this.password.current = ''
        this.password.new = ''
        this.password.retype_new = ''

        this.$nextTick(() => {
          this.ferrors.clear()
        })
      },

      fetchCurrentPassword (currentPassword) {
        return axios.post(base_url + '/api/v1/user/profile/current-password', {
          current: currentPassword
        })
            .then((response) => {
              if (response.data.success) {
                this.$noty.info(response.data.message, {
                  theme: 'mint',
                  timeout: 3000,
                  layout: 'topRight'
                })
              } else {
                this.$noty.error(response.data.message, {
                  theme: 'mint',
                  timeout: 3000,
                  layout: 'topRight'
                })
              }
            }).catch(function (error) {
              console.log(error.message)
            });
      },

      update (actionUrl, params) {
        return axios.post(base_url+actionUrl, params, {
          headers: {
            "Cache-Control": "no-cache, no-store, must-revalidate",
            "Pragma": "no-cache",
            "Expires": "0",
            "dataType": "json"
          }
        })
      },

      saveNewPassword () {
        let self = this

        this.update('/api/v1/user/profile/save-new-password', {
          current_password: this.password.current,
          new_password: this.password.new,
          retype_new_password: this.password.retype_new
        })
          .then(() => {
            self.$noty.success('Successfully saved new password!', {
                theme: 'mint',
                killer: true,
                timeout: 3000,
                layout: 'topRight'
              })
          }).catch(function (error) {
            console.log(error.message)
          })
      }

    }
  }
</script>

