/*
 * Title:   Custom Style File
 * Author:  1stone
 */

/* #menu-links-container {
 	background-color: black;
 }
 */
 .header-menu {
    background: url('../images/bg-overview.jpeg') no-repeat top center ;
    background-size: cover;
}

.overview-content-wrapper .overview-name {
    margin: 0 auto;
    margin-top: 35px;
    padding-top: 25px;
    width: 190px;
    border-top: dashed #fff 1px;
    text-align: center;
    color: #717171;
    font-size: 14px;
    font-weight: normal;
}
.overview-inner .overview-content-wrapper p {
    color: #717171;
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 30px;
}

.company-profile p{
  	color: #717171;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;

}

strong{font-size: 13px;}

.faq-wrapper h4{
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 10px;
}
.faq-wrapper p{
	color: #717171;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 10px;
}

.tagline {
    text-align: center;
}

.tagline h1::first-letter {
    text-transform: uppercase;
}

.tagline h1 {
    color: white;
    text-shadow: 1px 1px black;
    line-height: 1em;
    text-transform: lowercase;
    font-size: 70px;
    margin-bottom: 40px;
}

.tagline span {
    margin-bottom: 140px;
    color: black;
}

.inquire-button {
    margin-top: 120px;
    padding: 15px 50px;
    border-radius: 5px;
}
